<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>16_nguyenmanhquan_pro_manageuser</display-name>
	
	<filter>
		<filter-name>CharsetEncodingF</filter-name>
		<filter-class>manageuser.filter.CharsetEncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CharsetEncodingF</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>LoginF</filter-name>
		<filter-class>manageuser.filter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginF</filter-name>
		<url-pattern>*.do</url-pattern>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>manageuser.controllers.LoginController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListUser</servlet-name>
		<servlet-class>manageuser.controllers.ListUserController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>manageuser.controllers.LogoutController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddUserInput</servlet-name>
		<servlet-class>manageuser.controllers.AddUserInputController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddUserConfirm</servlet-name>
		<servlet-class>manageuser.controllers.AddUserConfirmController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddUserValidate</servlet-name>
		<servlet-class>manageuser.controllers.AddUserInputController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ViewDetailUser</servlet-name>
		<servlet-class>manageuser.controllers.ViewDetailUserController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditUserInput</servlet-name>
		<servlet-class>manageuser.controllers.EditUserInputController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditUserValidate</servlet-name>
		<servlet-class>manageuser.controllers.EditUserInputController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditUserConfirm</servlet-name>
		<servlet-class>manageuser.controllers.EditUserConfirmController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteUserInfor</servlet-name>
		<servlet-class>manageuser.controllers.DeleteUserInforController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Success</servlet-name>
		<servlet-class>manageuser.controllers.SuccessController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SystemError</servlet-name>
		<servlet-class>manageuser.controllers.SystemErrorController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListUser</servlet-name>
		<url-pattern>/ListUser.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddUserInput</servlet-name>
		<url-pattern>/AddUserInput.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddUserConfirm</servlet-name>
		<url-pattern>/AddUserConfirm.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddUserValidate</servlet-name>
		<url-pattern>/AddUserValidate.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewDetailUser</servlet-name>
		<url-pattern>/ViewDetailUser.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditUserInput</servlet-name>
		<url-pattern>/EditUserInput.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditUserValidate</servlet-name>
		<url-pattern>/EditUserValidate.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditUserConfirm</servlet-name>
		<url-pattern>/EditUserConfirm.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteUserInfor</servlet-name>
		<url-pattern>/DeleteUserInfor.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Success</servlet-name>
		<url-pattern>/Success.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SystemError</servlet-name>
		<url-pattern>/SystemError.do</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>Login.do</welcome-file>
	</welcome-file-list>
</web-app>


